/src/main/java/com/paf/jpafboard/PrimaryController.java
/src/main/java/com/paf/jpafboard/pafboard.db
/src/main/java/com/paf/jpafboard/SecondaryController.java
/src/main/java/com/paf/jpafboard/TestMain.java.bck
/src/main/java/com/paf/jpafboard/PafplayerController.java
/src/main/java/com/paf/jpafboard/OKApp.java
/src/main/resources/com/paf/jpafboard/test.fxml
/target
**/*.log
